:root {
    /* Farbvariablen für einheitliches Design */
    --background-color: rgb(15, 0, 0);
    --text-color: #e0e0e0;
    --btn-bg-color: #003c8b;
    --btn-text-color: #FFD700;
    --btn-border-color: #FFD700;
    --btn-hover-shadow-color: #FFC107;
    --show-bg-color: rgb(47, 104, 0);
    --show-border-color: #FFD700;
    --show-text-color: #FFD700;
    --show-hover-shadow-color: #FFC107;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#btn {
    position: absolute;
    padding: 20px;
    font-size: 20px;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border: 2px solid var(--btn-border-color);
    border-radius: 5px;
    cursor: pointer; 
    transition: box-shadow 0.3s;
}

#btn:hover {
    box-shadow: 0 0 3px 2px var(--btn-hover-shadow-color);
}

#show {
    position: absolute;
    padding: 20px;
    background-color: var(--show-bg-color);
    border: 2px solid var(--show-border-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    color: var(--show-text-color);
    transition: transform 0.5s ease;
    /* Standardmäßig unsichtbar */
    display: none;
}

#show:hover {
    box-shadow: 0 0 3px 2px var(--show-hover-shadow-color);
    /* Drehung als Hover-Effekt */
    transform: rotate(360deg);
}

#counter {
    position: absolute;
    padding: 20px;
    background-color: var(--btn-bg-color);
    border: 2px solid var(--show-border-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    color: var(--show-text-color);
    transition: transform 0.5s ease;
    z-index: -1;
}
