body {
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background-color: green;
    border: 5px solid black;
}